*{ 
    margin: 0; 
    padding: 0; 
    font-family: poppins;
} 
body{ 
    background: linear-gradient(135deg,#112457,#0F172a); 
    height: 100vh;
 } 
 header{ 
    display: flex; 
    padding: 20px 50px; 
    justify-content: space-between; 
     align-items: center; 
  background: linear-gradient(105deg,#0b1635,#0F172a);  
  color: white;
   
 } 
 .menu{  
    position: fixed; 
    left: 40%;
    display: flex; 
    gap:10px;
 } 
 .menu a{ 
    text-decoration: none; 
    opacity: 0.7; 
    font-weight: 700; 
    color: white;
 }
 .logo h3{
     position: fixed; 
    right: 5%;
    display: flex; 
    
    

 }
 .container{ 
    padding: 40px 60px;
 } 
 .title{ color: white; 
    font-size: 28px; 
    margin-bottom: 30pxw;
 }

 .animation{
    border-bottom: 3px solid #335ed3; 
    padding-bottom: 8px;
  
    

 }
 .grid{ 
    display: grid; 
    gap: 20px; 
    margin-left: 10%;
 } 
 .box{ 
    padding: 20px; 
    border-radius: 12px; 
    color: white; 
    font-weight: 600; 
    cursor: pointer;  
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); 
    width: 15%; 
 } 
 .green{background: green;} 
 
 .blue{background: blue;} 
 
 .orange{background: orange;}  
 
 .purple{background: purple;}
 

 